<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="container">

<h1 align="center">添加用户</h1>
<h5 style="fo: red;" align="center" th:text="${msg}">default</h5>
<div class="col-sm-offset-4 col-sm-4" align="center">
    <form  th:action="@{/Add}" method="post">
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">username</label>
            <div>
                <input type="text" class="form-control" name="username" id="userName" placeholder="username"/>
            </div>
        </div>
        <div class=" form-group">
            <label for="password" class="col-sm-2 control-label">password</label>
            <div>
                <input type="password" placeholder="password" class="form-control" name="password" id="password">
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">
                <input type="submit" value="Submit" class="btn btn-info">

                <input type="reset" value="Reset" class="btn btn-info">
            </div>
        </div>
    </form>
</div>
</body>
</html>